<%- include('partials/header'); %>

<link rel="stylesheet" href="app.css">

<h1>This is the home page</h1>

<img src="https://i.pinimg.com/236x/b3/27/fb/b327fbdca65c19dead9f04ee12b25ccc--labrador-puppies-labrador-retriever.jpg" alt="">

<%- include('partials/footer'); %>